# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/

# Environment
.env
.venv
venv/
env/

# Data files - tidak boleh di-commit ke repository
data/
!data/download_dataset.sh
!data/fetch_flags.py

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Notebook checkpoints
.ipynb_checkpoints/

